<div class="mt-4">
    <form action="/courses/store" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Tên Khóa Học</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="discription" class="form-label">Mô tả khóa học</label>
            <input type="text" class="form-control" name="discription" id="discription">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" name="videoId" id="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình Độ</label>
            <input type="text" class="form-control" name="level" id="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>